<div class="card">
    <div class="card-header" style="background-color: rgb(37, 107, 86);color: aliceblue;">
      <h4>คำถามที่พบบ่อย?</h4>
    </div>
</div>
<div class="card w-100">
    <div class="card-body" >
      <h5 class="card-title">โรงอาหารของมหาวิทยาลัยมีกี่ที่?</h5>
    </div>
</div>
<div class="card w-100">
    <div class="card-body">
      <h5 class="card-title">ทำไมอาจารย์ให้เกรดยากมาก?</h5>
    </div>
</div>
<div class="card w-100">
    <div class="card-body">
      <h5 class="card-title">ทำไมไม่มีสนามบอลแบบหญ้าในมหาลัยเกษตรศาสตร์ วิทยาเขตศรีราชา?</h5>
    </div>
</div>
<div class="card w-100">
    <div class="card-body">
      <h5 class="card-title">มหาลัยจะเปิดให้เรียนในห้องตอนไหนคะ?</h5>
    </div>
</div>

<div class="card w-100">
    <div class="card-body">
      <h5 class="card-title">อาหารแถวรอบๆมหาลัยร้านไหนอร่อยบ้างครับ?</h5>
    </div>
</div>
  