<div class="row">
    <div class="col-12">
        <div class="card" style="text-align: center;">
            <div class="card-header" style="background-color: rgb(37, 107, 86);color: aliceblue;">
              <h4>ที่อยู่</h4>
            </div>
            <div class="card-body">
                <h5>มหาวิทยาลัยเกษตรศาสตร์ วิทยาเขตศรีราชา
                    เลขที่ 199 หมู่ 6 ถนนสุขุมวิท ต.ทุ่งสุขลา อ.ศรีราชา จ.ชลบุรี 20230 โทรศัพท์ : 0-3835-4580-4 (666103)</h5>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-12">
        <div class="card" style="text-align: center;">
            <div class="card-header" style="background-color: rgb(37, 107, 86);color: aliceblue;">
              <h4>หมายเลขโทรศัพท์หน่วยงาน</h4>
            </div>
            <div class="card-body">
                <li>คณะวิทยาการจัดการ 0-3835-2828 (661000)</li>
                <li>คณะวิศวกรรมศาสตร์ศรีราชา 0-3835-4580-4 (662202)</li>
                <li>คณะวิทยาศาสตร์ ศรีราชา 0-3835-4587-8 (663014)</li>
                <li>คณะเศรษฐศาสตร์ ศรีราชา 0-3835-2902, 081-781-0934 (664302)</li>
                <li>คณะพาณิชยนาวีนานาชาติ 0-3835-4580-4 (665301)</li>
                <li>สำนักงานวิทยาเขต 0-3835-4580-4 (666103)</li>
                <li>หน่วยประสานงานวิทยาเขตศรีราชา 0-2942-8878 (644013) (ชั้น1 อาคาร 50 ปี บางเขน)</li>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-12">
        <div class="card" style="text-align: center;">
            <div class="card-header" style="background-color: rgb(37, 107, 86);color: aliceblue;">
              <h4>หมายเลขโทรศัพท์ ผู้บริหาร</h4>
            </div>
            <div class="card-body">
                <li>รองอธิการบดีวิทยาเขตศรีราชา (ผศ.น.สพ.ดร.เสรี กุญแจนาค) 666999</li>
                <li>คณบดีคณะวิทยาการจัดการ (รศ.อำนาจ ธีระวนิช) 661020</li>
                <li>คณบดีคณะวิศวกรรมศาสตร์ศรีราชา (รศ.ดร. สถาพร เชื้อเพ็ง) -</li>
                <li>คณบดีคณะวิทยาศาสตร์ ศรีราชา (ผศ.ดร. ภัทรวดี สุ่มทอง นาคมี) -</li>
                <li>คณบดีคณะเศรษฐศาสตร์ ศรีราชา (ผศ.ดร.ศุภชาติ สุขารมณ์) -</li>
                <li>คณบดีคณะพาณิชยนาวีนานาชาติ (พลเรือโทนิรุทธ์ หงส์ประสิทธิ์) -</li>
                <li>ผู้อำนวยการสำนักงานวิทยาเขตศรีราชา (นายอุกฤษฏ์ มนูจันทรัถ) 666888</li>
            </div>
        </div>
    </div>
</div>
